.main {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-child {
    border: 1px dashed red;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

button {
    background-color: cadetblue;
    color: white;
}

/* img {
    width: 200;
} */