.main-button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.child {
    border-radius: 10px;
    background-color: cornflowerblue;
    /* margin: auto; */
    padding: 30px;
}