/* You can add global styles to this file, and also import other style files */
.nowrap {
    display: inline;
}

.navitem {
    padding-right: 30px;
}

nav {
    /* border: 1px solid black; */
    background-color: cornflowerblue;
    padding: 10px;
    padding-left: 30px;
}

body {
    margin: 0px;
}